@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
        "Courier New", monospace;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(127 29 29);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(245 158 11);
}
